.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5dc;
  color: #001a33;
  font-family: "Poppins", sans-serif;
}

.login-content{
  display: flex;
}

.login-animation{
  height: 450px;
  width:  450px;
  margin-top: 150px;
  margin-right: 100px;
  margin-left: 250px;
}

.login-box {
  margin-left: 370px;
  margin-top: 180px;
  width: 300px;
  background: white;
  padding: 30px;
  position: relative;
  left: 200px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 308px;
}
button{
  margin-top: 20px;
}

.redirect-text {
  margin-top: 30px;
  font-size: 0.9rem;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #001a33;
  color: #f5f5dc;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-box button:hover {
  transform: scale(1.05);
}
/* Animation styling */
.login-container {
  position: relative;
  overflow: hidden;
}

.footer {
  background-color: #001a33;
  color: #f5f5dc;
  text-align: center;
  padding: 15px 20px;
  font-size: 0.9rem;
  margin-top: auto;
}