.foot{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-content{
  height: 100vh;
  background: #f5f5dc;
  background-size: cover;
}

.content{
  justify-content: space-between;
  display: flex;
}

.name{
  font-size: 3rem;
  margin-top: 70px;
  margin-left: 200px;
}

.week{
  font-size: 3rem;
  margin-top: 70px;
  margin-left: 200px;
}

li{
  font-size: 1.7rem;
  margin-left: 270px;
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

ol,li{
  margin-bottom: 20px;
}

.emptyBox{
  height: 500px;
  width: 700px;
  margin-right: 200px;
  border: solid 2px;
  border-radius: 10px;
}

.b{
  height: 50px;
  width: 250px;
  font-size: 1.2rem;
  margin-left: 217px;
  border-radius: 10px;
  color: #f5f5dc;
  background: #001a33;
  cursor: pointer;
}

.b:hover{
  transform: scale(1.05);
  background: #002b5c;
}