.header {
  background-color: #001a33;
  color: #f5f5dc;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  flex-shrink: 0;
  justify-content: space-between;
  display: flex;
}

.left{
  font-size: 2rem;
  margin-top: 5px;
}

.center {
  margin-top: 10px;
  display: flex;
  gap: 30px;
}

.left, .center span {
  cursor: pointer;
}